<div class="navbar">
    <a class="brand" href="/">{{site.navbar_text}}</a>
    <div id='menu'>
        <a href="/">Blog</a>
        <a href="/metaverse/">Metaverse</a>
        <a href="/spektral/">Spektral</a>
        <a href="/publications/" >Publications</a>
        <a href="/about/" class="current">About</a>
    </div>
</div>

<script>
    $(function(){
        $('#menu').slicknav({
            label: '',
            brand: '<a class="brand" href="/">{{site.navbar_text}}</a>'
        });
    });
</script>
