<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
   
<head>
    {% include head.html %}
    {% seo %}
    {% include navbar.html %} 
</head>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}
    
    <div id="main" role="main">
        <article class="hentry">
            
            <!-- MAIN -->
            <h1 class="entry-title">
                <a>{{ page.title }}</a>
            </h1>
                
            <!-- POST CONTENT -->
            <div class="entry-content">
                {{ page.content }}
            </div>  

            <!--- DIVIDING LINE -->
            <hr>
    
            <!-- POST TAGS -->
            <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
            </div>
          
            <br>
            
            <!-- POST DATE -->
            <div class="post-date">
                {{ page.date-string }}
            </div>
        </article>
    </div>
</body>
    
<!-- FOOTER -->  
<footer>  
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>   
</footer> 

<!-- ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-101322989-1', 'auto');
  ga('send', 'pageview');
</script>

</html>
